<a href="https://colab.research.google.com/github/Guy-Ayiti/SQL-Codigo-Facilito/blob/main/Codigo_Facilito_SQLite_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cargar Base de Datos

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("Escuela.db")

Pregunta 1

In [ ]:
query_1 = "select Estudiantes.Nombre as Nombre, \
       Estudiantes.Apellido as Apellido, \
       Direcciones.info as Direccion \
from Estudiantes left join Direcciones \
     on Estudiantes.id = Direcciones.id_estudiante"

result = pd.read_sql(query_1, conn)

In [ ]:
print(result)

              Nombre          Apellido         Materia Salon
0           Casandra   Portillo Olvera        Física_1    A4
1           Casandra   Portillo Olvera       Deporte_1    F2
2           Casandra   Portillo Olvera  Programación_2    F4
3           Casandra   Portillo Olvera        Inglés_2    D5
4           Casandra   Portillo Olvera    Literatura_4    D5
...              ...               ...             ...   ...
5995  Rubén Wilfredo  Velázquez Flores    Literatura_2    F3
5996  Rubén Wilfredo  Velázquez Flores   Matemáticas_2    B4
5997  Rubén Wilfredo  Velázquez Flores         Artes_2    K1
5998  Rubén Wilfredo  Velázquez Flores      Biología_1    H2
5999  Rubén Wilfredo  Velázquez Flores  Programación_1    J3

[6000 rows x 4 columns]

Pregunta 2

In [ ]:
query_2 = "select Estudiantes.Nombre as Nombre, \
       Estudiantes.Apellido as Apellido, \
       Materias.Nombre as Materia, \
       Grupos.Salon as Salon \
from Estudiantes inner join Inscripciones on Estudiantes.id = Inscripciones.id_estudiante \
                 inner join Grupos on Inscripciones.id_grupo = Grupos.id \
                 inner join Materias on Grupos.id_materia = Materias.id"

result = pd.read_sql(query_2, conn)

In [ ]:
print(result)

              Nombre          Apellido         Materia Salon
0           Casandra   Portillo Olvera        Física_1    A4
1           Casandra   Portillo Olvera       Deporte_1    F2
2           Casandra   Portillo Olvera  Programación_2    F4
3           Casandra   Portillo Olvera        Inglés_2    D5
4           Casandra   Portillo Olvera    Literatura_4    D5
...              ...               ...             ...   ...
5995  Rubén Wilfredo  Velázquez Flores    Literatura_2    F3
5996  Rubén Wilfredo  Velázquez Flores   Matemáticas_2    B4
5997  Rubén Wilfredo  Velázquez Flores         Artes_2    K1
5998  Rubén Wilfredo  Velázquez Flores      Biología_1    H2
5999  Rubén Wilfredo  Velázquez Flores  Programación_1    J3

[6000 rows x 4 columns]

Pregunta 3

In [ ]:
query_3 = "select Profesores.Nombre as Nombre, \
       Profesores.Apellido as Apellido, \
       Materias.Nombre as Nombre, \
       Grupos.Salon as Salon, \
       Grupos.Horario as Horario \
from Profesores left join Grupos on Profesores.id = Grupos.id_profesor \
                left join Materias on Grupos.id_materia = Materias.id"

result = pd.read_sql(query_3, conn)

In [ ]:
print(result)

             Nombre         Apellido                    Nombre Salon   Horario
0         Juan Alan  Domínguez Reyes  Comprensión de lectura_2    A1   9:00 am
1         Juan Alan  Domínguez Reyes                 Deporte_1    A1   1:00 pm
2         Juan Alan  Domínguez Reyes               Geografía_1    A1   2:00 pm
3          Leonardo  Vázquez Salazar                   Artes_2    A2   2:00 pm
4          Leonardo  Vázquez Salazar                  Física_2    A2   1:00 pm
..              ...              ...                       ...   ...       ...
361   Bárbara Itxel  Peralta Vázquez               Geografía_2    M1   1:00 pm
362            Zaid  Alvarado García  Comprensión de lectura_1    M1  10:00 am
363            Zaid  Alvarado García              Literatura_4    M2   1:00 pm
364  Debora Betsabé  Escobar Vallejo                  Física_4    M3  10:00 am
365  Debora Betsabé  Escobar Vallejo                Historia_2    M3   1:00 pm

[366 rows x 5 columns]

Pregunta 4

In [ ]:
query_4 = "select (Estudiantes.Nombre || ' ' || Estudiantes.Apellido) as Estudiantes, \
       Materias.Nombre as Materia, \
       Inscripciones.Calificacion as Calificacion, \
       (Profesores.Nombre || ' ' || Profesores.Apellido) as Profesores, \
       Grupos.Salon as Salon \
       from Estudiantes inner join Inscripciones on Estudiantes.id = Inscripciones.id_estudiante \
                 inner join Grupos on Grupos.id = Inscripciones.id_grupo \
                 inner join Materias on Materias.id = Grupos.id_materia \
                 inner join Profesores on Profesores.id = Grupos.id_profesor \
       where Inscripciones.Calificacion < 6"

result = pd.read_sql(query_4, conn)

In [ ]:
print(result)

                          Estudiantes         Materia Calificacion  \
0            Casandra Portillo Olvera       Deporte_1         3.08
1            Casandra Portillo Olvera  Programación_2         0.03
2            Casandra Portillo Olvera        Inglés_2         1.43
3            Casandra Portillo Olvera       Química_4          0.3
4     Teresa Mariana Cardenas Padilla  Programación_2         2.79
...                               ...             ...          ...
3649  Rubén Wilfredo Velázquez Flores    Literatura_2         1.37
3650  Rubén Wilfredo Velázquez Flores   Matemáticas_2         2.46
3651  Rubén Wilfredo Velázquez Flores         Artes_2         2.02
3652  Rubén Wilfredo Velázquez Flores      Biología_1         1.65
3653  Rubén Wilfredo Velázquez Flores  Programación_1         4.15

                        Profesores Salon
0              Enrique Núñez Reyes    F2
1             Vicente Aguilar Peña    F4
2         Orlando Menéndez Peralta    D5
3          Marta Calderón Espinoza    C4
4     Isabel Belén Venegas Beltrán    G1
...                            ...   ...
3649         Gerardo Rocha Peralta    F3
3650  Brenda Elena Medina Quintero    B4
3651      Clara Castellanos Olvera    K1
3652  Orlando Juan Espinoza Arroyo    H2
3653  Ismael Alejandro Montes Díaz    J3

[3654 rows x 5 columns]

Pregunta 5

In [ ]:
query_5 = "select Materias.Nombre as Materias, \
       count( distinct Estudiantes.id ) as Numero_Estudiantes \
       from Estudiantes inner join Inscripciones on Estudiantes.id = Inscripciones.id_estudiante \
                 inner join Grupos on Grupos.id = Inscripciones.id_grupo \
                 inner join Materias on Materias.id = Grupos.id_materia \
                 inner join Profesores on Profesores.id = Grupos.id_profesor \
       group by Materias.Nombre \
       order by Numero_Estudiantes desc"

result = pd.read_sql(query_5, conn)

In [ ]:
print(result)

                    Materias  Numero_Estudiantes
0                   Inglés_1                 274
1                Geografía_2                 274
2                  Deporte_1                 269
3             Programación_2                 260
4                 Historia_2                 255
5                    Artes_2                 252
6   Comprensión de lectura_2                 249
7                    Artes_1                 247
8                  Deporte_2                 245
9             Programación_1                 242
10                  Inglés_2                 240
11  Comprensión de lectura_1                 238
12               Geografía_1                 233
13                Historia_1                 230
14                 Química_3                 141
15              Literatura_2                 133
16              Literatura_1                 133
17                Biología_1                 131
18              Literatura_3                 128
19                 Química_2                 126
20                  Física_4                 125
21                  Física_1                 125
22                  Física_2                 124
23                 Química_4                 123
24              Literatura_4                 122
25                Biología_3                 120
26                  Física_3                 119
27                Biología_4                 118
28                Biología_2                 117
29                 Química_1                 114
30             Matemáticas_5                  88
31             Matemáticas_4                  87
32             Matemáticas_1                  87
33             Matemáticas_3                  79
34             Matemáticas_6                  73
35             Matemáticas_2                  72

Pregunta 6

In [ ]:
query_6 = "select Grupos.Salon as Salon, \
       Grupos.Horario as Horario, \
       count(distinct materias.id) \
from Grupos left join Materias on Grupos.id_materia = Materias.id \
group by Salon, Horario"

result = pd.read_sql(query_6, conn)

In [ ]:
print(result)

    Salon   Horario  count(distinct materias.id)
0      A1  10:00 am                            1
1      A1  11:00 am                            1
2      A1  12:00 pm                            1
3      A1   1:00 pm                            1
4      A1   2:00 pm                            1
..    ...       ...                          ...
364    M4   9:00 am                            1
365    M5  10:00 am                            1
366    M5   1:00 pm                            1
367    M5   2:00 pm                            1
368    M5   9:00 am                            1

[369 rows x 3 columns]

Pregunta 7

In [13]:
query = "UPDATE Direcciones SET info = REPLACE(info, \"\'\", \'\"\' )"

conn.execute(query)
conn.commit()

In [18]:
query_7 = "select json_extract(info, '$.colonia') as Colonia, \
       min(Calificacion) as Calif_Min, \
       max(Calificacion) as Calif_Max, \
       round(avg(Calificacion), 2) as Calif_Promedio, \
       count( distinct Estudiantes.id) as Conteo_Categoria \
from Estudiantes inner join Inscripciones on Estudiantes.id = Inscripciones.id_estudiante \
                 inner join Direcciones on Estudiantes.id = Direcciones.id_estudiante \
where json_extract(info, '$.colonia') is not null \
group by json_extract(info, '$.colonia')  \
order by Conteo_Categoria desc, avg(Calificacion) desc"

result = pd.read_sql(query_7, conn)

In [19]:
print(result)

                             Colonia Calif_Min Calif_Max  Calif_Promedio  \
0                      Año de Juárez      0.39      9.47            5.15
1                          San Pedro       0.0      9.45            5.71
2                           San Juan      0.61      9.97            5.64
3                   Lomas de Becerra      0.67      9.33            5.96
4                San Juan Tepenahuac      0.18       9.6            5.69
..                               ...       ...       ...             ...
468  Presidentes Ejidales 2a Sección      0.36      4.96            2.59
469                     La Milagrosa      0.28      6.78            2.50
470                Pensador Mexicano      0.38      5.06            2.46
471                         El Ruedo      0.08      7.05            2.42
472               Prados del Rosario      0.19      5.25            2.35

     Conteo_Categoria
0                   5
1                   4
2                   4
3                   3
4                   3
..                ...
468                 1
469                 1
470                 1
471                 1
472                 1

[473 rows x 5 columns]